//footer page created by Abdullah
section#web-section
      h2.web-header AROUND THE WEB
      .web
        a(href="contactus")
          i.fab.fa-linkedin(style="font-size:48px;color:#fff")
        a(href="contactus")
          i.fab.fa-facebook-square(style="font-size:48px;color:#fff")
        a(href="contactus")
          i.fab.fa-github(style="font-size:48px;color:#fff")
        a(href="contactus")
          i.fab.fa-twitter-square(style="font-size:48px;color: #fff")
      footer#footer
        p.footer-paragraph Express Group © Copyright 2020.